<div  class="middle" >
    <div style="padding-left: 30%; width: 60%;height: 80%; overflow:auto;">
        <div class="list-group middle" >
            <!--  Product Container  -->
            <div class="list-group-item" ng-repeat="product in products"
                 ng-click="select($index)"  ng-class="{sel: $index == selected}">
                <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
                <div class="gallery">
                    <div class="img-wrap">
                        <img ng-src="{{product.images[0]}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#/donate/familydonation" class="btn btn-primary">  Select Family </a>
</div>


